.App {
  display: grid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    ". heading ."
    ". search ."
    ". user .";
  grid-row-gap: 15px;
}

.heading {
  grid-area: heading;
}

.search {
  grid-area: search;
}

.user {
  grid-area: user;
}

.repoList {
  list-style: none;
}